body {
    font-family: sans-serif;
    text-align: center;
}
header {
    margin: 0;
    padding: 2% 0;
    background-color: whitesmoke;

    h1 {
        font-size: 26px;
        color: slategrey;
        font-weight: bold;
    }
}
.para {
    margin: 1%;
    
    form {
        padding: 2%;
    }
}

